.moduleRoot {
  display: flex;
  flex-direction: row;
  padding: 2% 1% 1% 0;
}

.moduleContent {
  width: 88%;
  margin-top: 10px;
  margin-left: 15%;
  height: 100%;
  position: relative;
  background-color: #1F222A;
}
