.moduleRoot {
  display: flex;
  flex-direction: row;
  padding: 0 2% 2% 0;
}

.moduleContent {
  width: 88%;
  margin-top: 25px;
  margin-left: 13.5%;
  height: 100%;
  position: relative;
  background-color: #1F222A;
}
